* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f7ff;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    font-weight: 500;
}

nav a.active {
    font-weight: bold;
    color: #000;
}

nav .cart {
    font-size: 16px;
    color: #000;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}

.hero-text .highlight {
    color: #f26522;
}

.hero-text p {
    margin: 25px,30px;
    font-size: 20px;
    color: #666;
    max-width: 550px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.highlight {
    color: #f26522;
}
.plants {
    padding: 60px;
    text-align: center;
}

.plants h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    font-size: 16px;
    margin-bottom: 40px;
}

.plant-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
}

.plant-card {
    background-color: #f4f7ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
}

.plant-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.plant-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
}

.price {
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;
}

.cart-btn {
    background-color: #f26522;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cart-btn:hover {
    background: linear-gradient(135deg, rgb(255, 2, 2), rgb(255, 204, 2));
    transform: translateY(3px);
}
